h2 {
  font-family: 'Source Sans Pro';
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

output {
  display: flex;
  font-family: 'Bungee';
  justify-content: flex-end;
}

#button-and-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

button {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: white;
}

form span {
  border-bottom: solid;
  border-width: 5px;
  border-color: gray;
}

.red {
  color: red;
}

article {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 240px;
  border: solid;
  border-width: 5px;
  border-color: gray;
  height: fit-content;

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;

  max-height: fit-content;
  max-width: 700px;
}

article:hover {
  box-shadow: 7px 5px 5px grey;
}

article img {
  display: flex;
  width: 100px;
}

#tweet-top-left {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

#new-tweet-text {
  background: transparent;
  border: transparent;
  margin-top: 20px;
}

#tweet-text {
  border-bottom: solid;
  border-width: 5px;
  border-color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

#pic-and-name {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

article span {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

i:hover {
  color: rgb(226, 226, 76);
}

.errors {
  border-style: solid;
  border-color: red;
  border-width: 6px;

  color: red;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

  margin-top: 20px;
}

